<div class="container">
  <nav class="navbar navbar-light">
  <h1 class="display-5 m-2 text-light">Welcome to the agenda APP</h1>
    <form class="d-flex">
      <button class="btn btn-light mx-2 p-1" type="submit"><%= render "devise/shared/links" %></button>
    </form>
  </nav>
</div>
<div class="container register">
<h4 class="text-center">Please log in</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-default my-2" %>
  </div>
<% end %>
</div>
